Django==5.2.9
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
drf-yasg==1.21.11
psycopg2-binary==2.9.11
python-dotenv==1.0.1
dj-database-url==2.3.0
whitenoise==6.8.2
gunicorn
requests==2.32.5
pillow
cryptography==46.0.3
pyotp
urllib3==2.5.0
certifi
PyJWT==2.10.1